################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MLWithDotNet/.vs
/MLWithDotNet/MovieRatingPredictor/bin
/MLWithDotNet/MovieRatingPredictor/obj
