################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AnalyticsService/v15/Server/sqlite3
/.vs
/AnalyticsService/bin
/AnalyticsService/obj/Debug/netcoreapp2.2
/AnalyticsService/obj
